node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Client specific ignores
client/node_modules
client/build
client/.env
!client/          # Ensure the client folder is included
!client/src/**    # Add the entire source code folder
!client/public/** # Add public files
!client/src/artifacts/** # Include compiled contract artifacts for deployment

